<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}"
>

<div layout:fragment="content">
    <div> 왜 안돼??
        <div>
            <div>
                <div data-v-66887899="" class="TitleForm">
                    <div data-v-66887899="" class="TitleForm__wrapper">
                        <div data-v-66887899="" class="TitleForm__title">
                            모집 분야를 선택해주세요.
                            <!----></div>
                        <div data-v-66887899="" class="TitleForm__type" style="display: none;">

                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="fl-1">
                        <div class="MultiSelectForm">
                            <div data-v-0ea235da="" class="select multi-select position-relative">
                                <button data-v-0ea235da="" type="button" class="btn-select ">
                                    <div data-v-0ea235da="" class="buttonLabel"><span
                                            data-v-0ea235da="">상위 카테고리</span><span data-v-0ea235da=""
                                                                                   class="caret"></span></div>
                                </button>
                                <div data-v-0ea235da="" class="checkboxLayer  ">
                                    <div data-v-0ea235da="" class="helperContainer">
                                        <div data-v-0ea235da="" class="line"><!----></div><!----></div><!---->
                                    <div data-v-0ea235da="" class="checkBoxContainer">
                                        <ul data-v-0ea235da="" class="selectList">
                                            <li data-v-0ea235da="" class="selectItem"><!----><span data-v-0ea235da=""
                                                                                                   class="margin-left-20">IT·프로그래밍</span>
                                            </li>
                                            <li data-v-0ea235da="" class="selectItem"><!----><span data-v-0ea235da=""
                                                                                                   class="margin-left-20">디자인</span>
                                            </li>
                                            <li data-v-0ea235da="" class="selectItem"><!----><span data-v-0ea235da=""
                                                                                                   class="margin-left-20">영상·사진·음향</span>
                                            </li>
                                        </ul><!----></div>
                                </div>
                            </div> <!----> <!----></div>
                    </div>
                    <div class="fl-1 margin-left-15">
                        <div class="MultiSelectForm">
                            <div data-v-0ea235da="" class="select multi-select position-relative">
                                <button data-v-0ea235da="" type="button" disabled="disabled" class="btn-select ">
                                    <div data-v-0ea235da="" class="buttonLabel"><span
                                            data-v-0ea235da="">하위 카테고리</span><span data-v-0ea235da=""
                                                                                   class="caret"></span></div>
                                </button>
                                <div data-v-0ea235da="" class="checkboxLayer  ">
                                    <div data-v-0ea235da="" class="helperContainer">
                                        <div data-v-0ea235da="" class="line"><!----></div><!----></div><!---->
                                    <div data-v-0ea235da="" class="checkBoxContainer">
                                        <ul data-v-0ea235da="" class="selectList"></ul><!----></div>
                                </div>
                            </div> <!----> <!----></div>
                    </div>
                </div>
                <div style="margin-top: 32px;"><!----></div>
                <div style="margin-top: 32px;"><!----></div>
                <div style="margin-top: 32px;">
                    <div>
                        <div data-v-66887899="" class="TitleForm">
                            <div data-v-66887899="" class="TitleForm__wrapper">
                                <div data-v-66887899="" class="TitleForm__title">
                                    프리랜서 포지션의 제목을 입력해주세요.
                                    <!----></div>
                                <div data-v-66887899="" class="TitleForm__type" style="display: none;">

                                </div>
                            </div>
                        </div>
                        <div class="RequestsFormat CustomProjectRequests__margin-bottom-32"><!----> <!----> <!---->
                            <!---->
                            <div class="form-control-custom-project-wrapper">
                                <div class="InputTextForm"><input placeholder="예) 중개플랫폼 백엔드java 개발자" maxlength="30"
                                                                  type="text" autocomplete="off"
                                                                  class="form-control border-radius-4 padding-right-30">
                                    <div class="position-absolute top-15 right-0" style="z-index: 11;"><img
                                            src="/img/tools/input_delete_icon@2x.png" alt="delete_icon"
                                            class="InputTextForm__clear width-15px cursor" style="display: none;"></div>
                                    <div class="flex"><!---->
                                        <div style="flex: 1 1 0%; display: flex; justify-content: flex-end;">
                                            <div>
                                                <div data-v-9be4283c="" class="FormRangeWrapper"><span
                                                        data-v-9be4283c="">
            0
        </span> / 30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>