<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}"
>
<link th:href="@{/css/font.css}" rel="stylesheet">


<body>


<div layout:fragment="content">


    <div class="text-center my-5 px-5">
        <!--카테고리 6개-->

        <div class="container  my-2 row gx-2 justify-content-center">
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="category/all"><img src="/images/icon/all.png" width="30"
                                                height="30">
                        <h6 class=" fw-bolder text-black mt-2">전체</h6></a>
                    <!--   <button type="button" class="category_btn" style="border:none;" onclick="location.href='members/new'"><img src="/images/icon/all.png"  alt="있을텐데 이미지" ></button>-->
                </div>
            </div>
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="category/video"><img src="/images/icon/video.png" width="30"
                                                  height="30">
                        <h6 class=" fw-bolder text-black mt-2">영상</h6></a>
                </div>
            </div>
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="category/it"><img src="/images/icon/computer.png" width="30"
                                               height="30">
                        <h6 class=" fw-bolder text-black mt-2">IT</h6></a>
                </div>
            </div>
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="category/design"><img src="/images/icon/design.png" width="30"
                                                   height="30">
                        <h6 class=" fw-bolder text-black mt-2">디자인</h6></a>
                </div>
            </div>
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="category/lang"><img src="/images/icon/translate.png" width="30"
                                                 height="30">
                        <h6 class=" fw-bolder text-black mt-2">언어</h6></a>

                </div>

            </div>
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="category/hobby"><img src="/images/icon/activity.png" width="30"
                                                  height="30">
                        <h6 class=" fw-bolder text-black mt-2">취미</h6></a>
                </div>
            </div>
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="members/new"><img src="/images/icon/contest.png" width="30"
                                               height="30">
                        <h6 class=" fw-bolder text-black mt-2">공모전<br>모집</h6></a>
                </div>
            </div>
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="members/new"><img src="/images/icon/exchange.png" width="30"
                                               height="30">
                        <h6 class=" fw-bolder text-black mt-2">재능<br>교환</h6></a>
                </div>
            </div>
            <div class="col-lg-1 mb-5 mb-lg-0">
                <div>
                    <a href="members/new"><img src="/images/icon/demand.png" width="30"
                                               height="30">
                        <h6 class=" fw-bolder text-black mt-2">재능<br>의뢰</h6></a>
                </div>
            </div>
            <div class="col-lg-1 mb-5 mb-lg-0 align-self-center">
                <div>
                        <a data-bs-toggle="modal" href="#modalTour"><img class="mb-2" src="/images/icon/plus.png"
                                                                         width="40"
                                                                         height="40"></a>
                </div>
            </div>
        </div>


    </div>


    <!-- Features section-->
    <div class="container">
        <div class="text-center ">
            <h2 class="section-heading text-uppercase mb-4">Portfolio</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/testImage/test.jpg"
                             alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Threads</div>
                        <div class="portfolio-caption-subheading text-muted">Illustration</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/testImage/test.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Explore</div>
                        <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/testImage/test.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Finish</div>
                        <div class="portfolio-caption-subheading text-muted">Identity</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/testImage/test.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Lines</div>
                        <div class="portfolio-caption-subheading text-muted">Branding</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/testImage/test.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Southwest</div>
                        <div class="portfolio-caption-subheading text-muted">Website Design</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/images/testImage/test.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Window</div>
                        <div class="portfolio-caption-subheading text-muted">Photography</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


</body>
</html>
